<div id="message-<%= message.id %>" class="<%= message.sender == current_user ? 'sent-message' : 'received-message'%>">
  <div class="message">
    <strong><%= message.sender.first_name %></strong>
    <div>
      <div><%= message.content %></div>
      <div class="time">Le <%= l(message.created_at, format: "%-d %b") %> à <%= l(message.created_at, format: "%kh%M") %></div>
    </div>
  </div>
</div>