<div class="section devise-section">

  <div class="breadcrumbs">
    <%= image_tag "icons/home" %> > Mon compte
  </div>

  <div class="container-small">

    <h2 class="text-center my-4">Modifier mon compte</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      
      <%= f.input :first_name,
                  autofocus: true,
                  label: "Prénom",
                  wrapper_html: {class:"mt-5"},
                  input_html: {autocomplete: "given-name" } %>
      <%= f.input :last_name,
                  label: "Nom",
                  autofocus: true,
                  wrapper_html: {class:"mt-5"},
                  input_html: {autocomplete: "family-name" } %>
      <%= f.input :email,
                  label: "Email",
                  autofocus: true,
                  wrapper_html: {class:"mt-5"},
                  input_html: {autocomplete: "email" } %>

      <div class="d-flex justify-content-center">
        <%= f.button :submit, "Enregistrer", class:"btn-light my-5" %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center">
      <small> <%# button_to "Supprimer mon compte ?", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></small>
    </div>

  </div>
</div>


<%= console %>