<div class="section">
  <div class="container-large">
  
    <div class="position-relative">

      <%= image_tag "red_splash.png", id: "red-splash" %>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="devise-form">

          <h2 class="text-center my-4">Créer mon compte</h2>

          <%= f.error_notification %>

          <%= f.input :first_name,
                      placeholder: "Prénom",
                      required: true,
                      label: false,
                      autofocus: true,
                      input_html: { autocomplete: "given-name" } %>
          <%= f.input :last_name,
                      placeholder: "Nom",
                      required: true,
                      label: false,
                      autofocus: true,
                      input_html: { autocomplete: "family-name" } %>
          <%= f.input :email,
                      placeholder: "Email",
                      required: true,
                      label: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <div class="position-relative" data-controller="toggle-password-visibility">
            <%= f.input :password,
                        placeholder: "Mot de passe",
                        required: true,
                        label: false,
                        input_html: { autocomplete: "new-password", id:"user-password" } %>
            <div class="password-visibility-button"><i class="far fa-eye-slash"></i></div>
          </div>
    
          <small><%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %></small>
          <%# f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        
          <div class="d-flex justify-content-center">
            <%= f.submit "M'inscrire", class:"btn-egg my-4"%>
            <%# button_tag(type: 'submit', value:"") do %>
              <%# image_tag "new_account.png", class:"devise-button" %>
            <%# end %>
          </div>

          

          <small class="d-flex justify-content-center">Déjà un compte ?<%= link_to "Me connecter", new_session_path(resource_name), class:"ms-2" %></small>

        </div>
        
      <% end %>

    
  </div>
</div>
