<div class="section">
  <div class="breadcrumbs">
    <%= image_tag "icons/home" %> > <%= link_to "Gestion du site", admin_dashboard_path %>
  </div>

  <div class="container-large">
    <div class="d-flex align-items-center justify-content-center my-2">
      <%= image_tag "icons/settings", class: "me-3", width: 30 %>
      <h2>Rendez-vous confirmés</h2>
    </div>

    <%= form_with url: admin_confirmed_appointments_path, method: :get do %>
      <div class="row d-md-flex align-items-end my-2", data-controller="tom-select" >
        
        <div class="col-12 col-md-5 mb-4">
          <div class="d-flex align-items-center mb-2">
            <%= image_tag "icons/basket", height: 20, class: "me-2" %>Composteur / PAV : 
          </div>
          <%= select_tag :garden, 
            options_from_collection_for_select(Garden.all, :id, :garden_name, params[:garden]), 
            include_blank: true,
            placeholder: "Sélectionnr un composteur ou PAV",
            class: "select"%>
        </div>

        <div class="col-12 col-md-5 mb-4">
          <div class="d-flex align-items-center mb-2">
            <%= image_tag "icons/user", height: 20, class: "me-2" %>Utilisateur : 
          </div>
          <%= select_tag :giver, 
            options_from_collection_for_select(Giver.all, :id, :full_name, params[:giver]), 
            include_blank: true, 
            class: "select" %>
        </div>
        
        <div class="col-12 col-md-2 mb-2">
          
          <div class="d-flex align-items-end justify-content-center">
            <div class="d-md-none">
              <%= submit_tag "Rechercher", class: 'btn-light' %>
            </div>

            <%= button_tag(type: 'submit', value:"", class:"d-none d-md-block") do %>
              <%= image_tag "icons/find.png", class:"icon btn-light mb-3", width: 60 %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @appointments.present? %>
      <h5 class="my-3"><%= @appointments.count%> rendez-vous trouvé(s) : </h5>
      <div id="dashboard-cards">
        <% @appointments.each do |appointment| %>
          <div class="dashboard-card">
            <div class="d-flex mb-2">
              <%= image_tag "icons/user", height: 20, class:"me-2" %><%= appointment.giver.full_name %>
            </div>
            <div class="d-flex mb-2">
              <%= image_tag "icons/basket", height: 20, class:"me-2" %><%= link_to "#{appointment.gardener.garden.garden_name}", garden_path(slug: appointment.gardener.garden.slug)%>
            </div>
            <div class="d-flex mb-2">
              <%= image_tag "icons/calendar", height: 20, class:"me-2" %>Le <%= appointment.date.strftime('%d/%m/%Y') %>
            </div>
            <div class="d-flex align-items-center mb-2">
              <%= image_tag "icons/reward", width: 20, class:"me-2" %><%= appointment.quantity %> L de <%= appointment.compost_type%>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="text-center">Aucun rendez-vous trouvé</div>
    <% end %>
  </div>
</div>