<div class="section"> 
  <div class="container-large">

    <div class="breadcrumbs">
      <%= image_tag "icons/home" %> > <%= link_to "Mon compte", edit_user_registration_path(@user)%> > Mes récompenses
    </div>

    <div class="tabs">
      <%= link_to "En cours", rewards_to_receive_path, class:"tab red inactive me-3"%>
      <%= link_to "Historique", received_rewards_path, class:"tab red active"%>
    </div>
    
    <div class="reward-title">
      <%= image_tag "basket_full", class:"basket" %>
      <h3 class="text-center">Mes récompenses reçues</h3>
    </div>
    <% if @received_rewards.present? %>
      <div class="reward-cards">
        <% @received_rewards.each do |gardener, count| %>
          <%= link_to garden_path(slug: gardener.garden.slug) do %>
            <div class="reward-card">
              <div class="d-flex justify-content-center align-items-center mb-2">
                <%= image_tag "icons/basket", width: 20, class:"me-2" %><%= gardener.garden.garden_name.upcase %>
              </div>
              <small class="text-center mb-2"><%= gardener.garden.address %></small>
              <hr>
              <div class="d-flex justify-content-center align-items-center mb-2 green">
                <%= image_tag "icons/gift_green", width: 20, class:"me-3" %>
                <div><%= count%> <%= count == 1 ? "Récompense reçue" : "Récompenses reçues"%></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="my-5 text-center">Vous n'avez pas encore reçu de récompenses. <br><%= link_to "Apportez votre compost à un jardin !", gardens_path %></div>
    <% end %>

  </div>
</div>