<div class="section"> 
  <div class="container-large">

    <div class="breadcrumbs">
      <%= image_tag "icons/home" %> > <%= link_to " Mon compte", edit_user_registration_path(@user)%> > Mes récompenses
    </div>

    <div class="tabs">
      <%= link_to "En cours", rewards_to_receive_path, class:"tab red active me-3"%>
      <%= link_to "Historique", received_rewards_path, class:"tab red inactive"%>
    </div>

    <div class="reward-title">
      <%= image_tag "basket_full", class:"basket" %>
      <h3 class="text-center">Mes récompenses à recevoir</h3>
    </div>

    <% if @rewards_to_receive.present? %>
      <div class="reward-cards">
        <% @rewards_to_receive.each do |gardener, count| %>
          <%= link_to garden_path(slug: gardener.garden.slug) do %>
            <div class="reward-card">
              <div>
                <div class="d-flex justify-content-center align-items-center mb-2">
                    <%= image_tag "icons/basket", width: 20, class:"me-2" %><%= gardener.garden.garden_name.upcase %>
                </div>
                <small class="mb-2 text-center"><%= gardener.garden.address %></small>
              </div>
              <hr>
              <div class="d-flex align-items-center justify-content-center mb-2 red">
                <%= image_tag "icons/gift_red", width: 20, class:"me-3" %>
                <div><%= count%> <%= count == 1 ? "Récompense à recevoir !" : "Récompenses à recevoir !"%></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="my-5 text-center">Vous n'avez pas de récompenses à venir pour l'instant. <br><%= link_to "Apportez votre compost à un jardin !", gardens_path %></div>
    <% end %>

    <hr class="mt-5">

    <div class="reward-title mt-5">
      <%= image_tag "basket_empty", class:"basket" %>
      <h3 class="text-center">Mes points reçus</h3>
    </div>

    <% if @pending_rewards_to_receive.present? %>
      <div class="reward-cards">
        <% @pending_rewards_to_receive.each do |garden, giver_garden_points| %>
          <% total_points = @user.total_points_with(garden) %>
          <% points_for_gift = garden.nb_of_points_for_a_gift %>
          <% progress = (total_points.to_f / points_for_gift * 100).to_i %>
          <% if total_points > 0 %>
            <%= link_to garden_path(slug: garden.slug) do %>
              <div class="reward-card">
                <div>
                  <div class="d-flex justify-content-center align-items-center mb-2">
                    <%= image_tag "icons/basket", width: 20, class:"me-2" %><%= garden.garden_name.upcase %>
                  </div>
                  <small class="mb-2"><%= garden.address %></small>
                </div>
                <hr>
                <div>
                  <div class="text-center"><%= "#{total_points} / #{points_for_gift}" %></div>
                  <div class="progress mt-2" role="progressbar" aria-label="Basic example" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: <%= progress %>%;"></div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="text-center">Vous n'avez pas de points pour le moment.</div>
    <% end %>

  </div>
</div>