<div class="section devise-section">
  <div class="container-small">
    <h2 class="text-center my-4">Modifier mon mot de passe</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <div class="position-relative" data-controller="toggle-password-visibility">
          <%= f.input :password,
                      placeholder: "Nouveau mot de passe",
                      required: true,
                      autofocus: true,
                      label: false,
                      hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", id:"user-password" } %>
          <div class="password-visibility-button"><i class="far fa-eye-slash"></i></div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <%= f.button :submit, "Valider", class:"btn-egg" %>
      </div>
    <% end %>
  </div>
</div>