<div class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
       <%= image_tag "logo.png", class:"navbar-brand" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <%= image_tag "icons/burger.png", width: 30, alt: "Menu" %>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to gardeners_path, class: "nav-link d-flex align-items-center" do %>
            <%= image_tag "icons/find.png", class:"icon" %>
            <div>Trouver un jardin</div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_gardener_path, class: "nav-link d-flex align-items-center" do %>
            <%= image_tag "icons/add", class:"icon" %>
            <div>Créer mon jardin</div>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown d-none d-md-block">
            <div class="dropdown-toggle" type="button" id="navbarDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag "icons/user.png", width: 30, height: 30, class:"ms-3" %>
            </div>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenu">
        
              <%= link_to appointments_path, class: "dropdown-item d-flex align-items-center" do %>
                <%= image_tag "icons/calendar", class: "icon" %>
                <div>Mes rendez-vous</div>
              <% end %>
              <%= link_to conversations_path, class: "dropdown-item d-flex align-items-center" do %>
                <%= image_tag "icons/message", class: "icon" %>
                <div>Mes messages</div>
              <% end %>
              <%= link_to giver_rewards_path, class: "dropdown-item d-flex align-items-center" do %>
                <%= image_tag "icons/reward", class: "icon" %>
                <div>Mes récompenses</div>
              <% end %>
              <%= link_to edit_user_registration_path, class: "dropdown-item d-flex align-items-center" do %>
                <%= image_tag "icons/edit", class: "icon" %>
                <div>Mon compte</div>
              <% end %>
              <%= link_to "Déconnexion", destroy_user_session_path, data: { "turbo-method": :delete } , class: "dropdown-item" %>
            </ul>
          </li>
          <li class="nav-item d-md-none">
            <%= link_to appointments_path, class: "nav-link d-flex align-items-center" do %>
              <%= image_tag "icons/calendar", class: "icon" %>
              <div>Mes rendez-vous</div>
            <% end %>
          </li>
          <li class="nav-item d-md-none">
            <%= link_to conversations_path, class: "nav-link d-flex align-items-center" do %>
                <%= image_tag "icons/message", class: "icon" %>
                <div>Mes messages</div>
              <% end %>
          </li>
           <li class="nav-item d-md-none">
            <%= link_to giver_rewards_path, class: "nav-link d-flex align-items-center" do %>
              <%= image_tag "icons/reward", class: "icon" %>
              <div>Mes récompenses</div>
            <% end %>
          </li>
          <li class="nav-item d-md-none">
          <%= link_to edit_user_registration_path, class: "nav-link d-flex align-items-center" do %>
                <%= image_tag "icons/edit", class: "icon" %>
                <div>Mon compte</div>
              <% end %>
          </li>
          <li class="nav-item d-md-none">
            <%= link_to "Déconnexion", destroy_user_session_path, data: { "turbo-method": :delete } , class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link btn-egg" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
