<div class="garden-card">
  <%= link_to garden_path(slug: garden.slug), data: { turbo: false }, class:"garden-infos w-50" do %>
    <div class="d-flex flex-column justify-content-center h-100">
      <h2><%= garden.garden_name %></h2>
      <div><%= garden.gardener.first_name %> <%= garden.gardener.last_name%></div>
    </div>
    <div>
      <% if defined?(garden.distance) && garden.distance.present? %>
        <div class="d-flex align-items-center mb-2">
          <%= image_tag "icons/location", width: 20, class:"me-2" %>
          <%= garden.distance.round(1) %> km
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="d-flex align-items-center">
          <%= image_tag "icons/reward", width: 20, class:"me-2" %>
          <%= current_user.total_points_with(garden) %> / <%= garden.nb_of_points_for_a_gift %>       
        </div>
      <% end %>
    </div>
  <% end %>
  
  <%= link_to garden_path(slug: garden.slug), data: { turbo: false }, class:"w-50 h-100" do %>
    <% if garden.main_image.key.nil? %>
      <%= image_tag("default.png", class: "garden-image") %>
    <% else %>
      <div class="garden-image" style="background-image: url('<%= cl_image_path garden.main_image.key, crop: :fill %>'); background-size: cover"></div>
    <% end %>
  <% end %>
    


</div>
