<div id="garden-form">
  <%= f.error_notification %>

  <%= f.input :garden_name,
              autofocus: true,
              error: "Merci de saisir le nom de votre jardin.",
              label: "Le nom que je donne à mon jardin : ",
              wrapper_html: {class:"mt-5"},
              input_html: { } %>

  <label class="mt-3">L'adresse de mon jardin :</label>
  <div id="garden-search">
    <%= image_tag "icons/location.png", class:"icon mb-3" %>
    
    <div class="d-none" id="address-param" data-selected="<%= @garden.address %>"></div>

    <%= f.input :address, 
      placeholder: "Entrer une adresse", 
      error: "Merci de saisir une adresse valide.",
      label: false, 
      wrapper_html: {
        data: {
          controller: "address-autocomplete", 
          address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"], 
          # value: @garden.address
        },
        class: "flex-grow-1 mb-0"
      },
      input_html: {
        data: {address_autocomplete_target: "address"}, 
        class: "d-none", 
        placeholder: "Entrer une adresse"
      } %>
  </div>

  <%= f.input :description,
              as: :text,
              label: "Une description de mon jardin : ",
              error: "Merci de saisir une description. Max. 149 caractères.",
              wrapper_html: {class:"mt-5"},
              input_html: { } %>

  <label class="mt-4">Points à obtenir pour avoir une récompense : </label>

  <div class="d-flex align-items-center" data-controller="quantity-spinner">
                      
    <div class="spinner-button minus">
      <i class="fa-solid fa-minus"></i>
    </div>

    <%= f.input :nb_of_points_for_a_gift, as: :integer, label: false, input_html: {class:"form-control", id:"spinner", value: 1, min: 1} %>
      
    <div class="spinner-button plus">
      <i class="fa-solid fa-plus"></i>
    </div>

  </div>
  <small class="opacity-50"><i class="fa-solid fa-basket-shopping me-2"></i>Barème de récompenses:
    <ul>
      <li>1 L de biodechets = 1 point</li>
      <li>1 L de compost mur = 3 points</li>
    </ul>
  </small>

  <div data-controller="toggle-garden-products" class="mt-4">

    <%= f.input :products,
      label: "Produits cultivés : ",
      input_html: { autocomplete: "off", class: "form-control", placeholder: "Entrer un produit", data: { toggle_garden_products_target: "form", action: "keydown.enter->toggle-garden-products#add"}} %>

    <div id="products" class="d-flex flew-wrap mt-2" data-toggle-garden-products-target="products">
      <% @garden.products.each do |product| %>
        <% if product != "" %>
          <div class="product" data-action="click->toggle-garden-products#remove" data-value="<%= product%>">
            <div class="d-flex"><%= product %><i class="fa-solid fa-xmark ms-2"></i></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <small class="opacity-50"><i class="fa-solid fa-circle-info me-2"></i>Entrer un produit et tapez sur "entrée"</small>

    <%= hidden_field_tag 'added_products_list[]' %>

    <%= hidden_field_tag 'removed_products_list[]' %>

  </div>

  <%= f.input :opening_hours,
              error: "Merci de saisir vos horaires d'ouvertures.",
              label: "Horaires d'ouverture : ",
              wrapper_html: {class:"mt-5"},
              input_html: { } %>

  <label class="mt-4 mb-2">Photo de mon jardin : </label>

  <div data-controller="photo-preview">
    <% if !@garden.main_image.key.nil? %>    
      <%= cl_image_tag(@garden.main_image.key, alt: @garden.garden_name, width: 250, height: 250) %>
    <% end %>
    <%= image_tag "", width: 250, height: 250, class: "d-none", data: { photo_preview_target: "preview" } %>
    <%= f.input :main_image, as: :file, input_html: { class: 'd-none', data: { photo_preview_target: "input", action:"change->photo-preview#displayPreview" }}, label_html: { class: 'upload-photo'}, label: '📷 Choisir une image'%>
   
  </div>

  <div class="d-flex justify-content-center">
    <%= f.button :submit, "Valider", class:"btn-egg move-on-hover my-5" %>
  </div>

</div>