<%= simple_form_for("", url: gardens_path(query: params[:query]),
      method: :get, id:"garden-search") do |f| %>

  <%= image_tag "icons/location.png", class:"icon" %>
  
  <div class="d-none" id="address-param" data-selected="<%= params[:address] %>"></div>

  <%= f.input :address, 
    placeholder: "Entrer une adresse", 
    label: false, 
    wrapper_html: {
      data: {
        controller: "address-autocomplete", 
        address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"], 
        value: params[:address]
      },
      class: "flex-grow-1 mb-0"
    },
    input_html: {
      data: {address_autocomplete_target: "address"}, 
      class: "d-none", 
      placeholder: "Entrer une adresse"
    } %>

 
  <div class="d-none d-md-block"> <%= f.submit "Rechercher", class: 'btn-light' %></div>

  <div class="d-md-none">
    <%= button_tag(type: 'submit', value:"") do %>
      <%= image_tag "icons/find.png", class:"icon" %>
    <% end %>
  </div>

<% end %>