<%= link_to gardner_path(slug: gardner.slug) do %>
  <div class="row gardner-card">
    <div class="col-6 gardner-infos">
      <div>
        <h2><%= gardner.garden_name %></h2>
        <div><%= gardner.first_name %></div>
        <div><%= gardner.last_name%></div>
      </div>
      <div>
        <div class="d-flex align-items-center mb-2">
          <%= image_tag "icons/location", width: 30 %>
        10 km
        </div>
        <div class="d-flex align-items-center">
          <%= image_tag "icons/reward", width: 30 %>
          XXX / <%= gardner.nb_of_points_for_a_gift %>
        </div>
      </div>
    </div>

    <div class="col-6" class="gardner-image" style="background-image: url('<%= cl_image_path gardner.main_image.key, crop: :fill %>'); background-size: cover"
    ></div>

  </div>
<% end %>
