<div class="section"> 
  <div class="container-large">
    <h1 class="text-center">Mes rendez-vous</h1>
  </div>

  <div class="d-flex justify-content-center" id="appointments-tabs">
    <%= link_to "A venir", appointments_path, class:"red me-3 #{params[:category] == 'passed' ? 'inactive' : 'active'}"%>
    <%= link_to "Passés", appointments_path(category: "passed"), class:"red #{params[:category] == 'passed' ?  'active' : 'inactive'}"%>
  </div>

  <div class="row my-4">
    <div class="col-12 col-md-5 col-lg-4 d-flex d-md-block flex-column align-items-center">
      <%= month_calendar(start_date_param: :date, events: @appointments) do |date, appointments| %>
        <% if @appointments.where(date: date).empty? %>
          <%= date.day %>
        <% else %>
          <% if params[:selected_date] && Date.parse(params[:selected_date]) == date %>
            <% active_date = true %>
          <% end %>
          <%= link_to appointments_path(selected_date: date, category: params[:category]), class: "circle #{params[:category] == 'passed' ? 'circle-green' : 'circle-red'} #{active_date == true ? 'selected' : ''}" do %>
            <%= date.day %>
          <% end %>
        <% end %>
      <% end %>
      <small class="d-flex justify-content-center my-2"><%= link_to "Tout voir", appointments_path(category: params[:category]), class: "btn-light" %></small>
    </div>
    <div class="col-12 col-md-7 col-lg-8">
      <%= render "list", appointments: @appointments, category: "#{params[:category]}"%>
    </div>
  </div>
</div>