<%= link_to gardener_path(slug: gardener.slug) do %>
  <div class="row gardener-card">
    <div class="col-6 gardener-infos">
      <div>
        <h2><%= gardener.garden_name %></h2>
        <div><%= gardener.first_name %></div>
        <div><%= gardener.last_name%></div>
      </div>
      <div>
        <div class="d-flex align-items-center mb-2">
          <%= image_tag "icons/location", width: 30 %>
        10 km
        </div>
        <% if @giver %>
          <div class="d-flex align-items-center">
            <%= image_tag "icons/reward", width: 30 %>
            <%= @giver.total_points_with(gardener) %> / <%= gardener.nb_of_points_for_a_gift %>       
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-6" class="gardener-image" style="background-image: url('<%= cl_image_path gardener.main_image.key, crop: :fill %>'); background-size: cover"
    ></div>

  </div>
<% end %>
