<div class="gardener-card">
  <%= link_to gardener_path(slug: gardener.slug), class:"gardener-infos w-50" do %>
    <div>
      <h2><%= gardener.garden_name %></h2>
      <div><%= gardener.first_name %></div>
      <div><%= gardener.last_name%></div>
    </div>
    <div>
      <div class="d-flex align-items-center mb-2">
        <%= image_tag "icons/location", width: 30 %>
        <%= gardener.distance_to(params[:address]) %> km
      </div>
      <% if @giver %>
        <div class="d-flex align-items-center">
          <%= image_tag "icons/reward", width: 30 %>
          <%= @giver.total_points_with(gardener) %> / <%= gardener.nb_of_points_for_a_gift %>       
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="gardener-image w-50" style="background-image: url('<%= cl_image_path gardener.main_image.key, crop: :fill %>'); background-size: cover"
  ><%= link_to "", gardener_path(slug: gardener.slug)%>
  </div>

</div>

