<div class="section" id="gardener-show">
  <div class="container-large">
    <div class="row d-flex align-items-stretch mb-5">
      <div class="col-12 col-md-6 main-image" style="background-image: url('<%= cl_image_path @gardener.main_image.key, crop: :fill %>'); background-size: cover"
      ></div>
      <div class="col-12 col-md-6"> 
        <div class="gardener-description">
          <div class="d-flex align-items-center mb-2">
            <%= image_tag "icons/location", width: 30, class:"me-2" %>
            <%= @gardener.address %>
          </div>
          <% if current_user.giver? %>
            <div class="d-flex align-items-center">
              <%= image_tag "icons/reward", width: 30, class:"me-2" %>
                <%= current_user.total_points_with(@gardener) %> / <%= @gardener.nb_of_points_for_a_gift %>
            </div>
          <% end %>
          <div><%= @gardener.description %></div>
          <h2><%= @gardener.garden_name %></h2>
          <div class="mb-2"><%= @gardener.first_name %> <%= @gardener.last_name%></div>
          <div>
            <% @gardener.products.each do |product| %>
              <div class="product"><%= product %></div>
            <% end %>
          </div>
        </div>
      </div>
      

    </div>

    <%= simple_form_for(:appointment, url: create_appointment_path, method: :post) do |f| %>
      <h3>
        <%= f.error_notification %>
        
        <%= f.input :giver_id, as: :hidden, input_html: { value: current_user.id } %>
        
        <%= f.input :gardener_id, as: :hidden, input_html: { value: @gardener.id } %>
        
        <div data-controller="flatpickr" >
          <div class="d-flex align-items-center justify-content-center">
            <div class="me-3">Le </div>
            <%= f.input :date, as: :string, label: false, input_html: { data: { flatpickr_target: "appointmentTime" }, class:"mt-3" } %> 
          </div>
        <div class="d-flex justify-content-center align-items-center">
          <div>je souhaiterais échanger </div> 
          
          <div class="d-flex align-items-center mx-3" data-controller="compost-quantity-spinner">
                  
            <div class="spinner-button minus">
              <i class="fa-solid fa-minus"></i>
            </div>
        
            <%= f.input :quantity, as: :integer, label: false, input_html: {class:"form-control", id:"spinner", value: 1, min: 1} %>
              
            <div class="spinner-button plus">
              <i class="fa-solid fa-plus"></i>
            </div>
                
              
          </div>
          <div> kg de</div>
        </div>
        
        <div class="d-flex align-items-center justify-content-center">
          <%= f.input :compost_type,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'compost-type-wrapper',
            item_wrapper_class: 'compost-type-item',
            input_html: {class: 'compost-type-selector'},
            collection: Appointment::COMPOST_TYPES %>
        </div>

        <div class="d-flex justify-content-center">
          <%= button_tag(type: 'submit') do %>
            <%= image_tag "go.png", class:"devise-button move-on-hover mt-3" %>
          <% end %>
        </div>
      </h3>
    <% end %>
  </div>
</div>